html {
	font-family: 'Roboto', sans-serif;
	background-color: #F7FFFF;
	font-weight: 300;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #054444;
}

li a{
	display: inline-block;
	text-align: center;
	text-decoration: none;
    padding: 14px 16px;
    font-size: 52pt;
	color: #F7FFFF;
	font-weight: 400;
}

li a#active {
	background-color: #002020;
}

.navbar-right {
	float: right;
	padding-right: 30px;
}

.navbar-left {
	float: left;
}

.label1 {
	font-size: 52pt;
	color: #054444;
	text-align: center;
	padding: 70px 0 20px 0;
}

.label2 {
	font-size: 52pt;
	color: #054444;
	text-align: center;
	padding: 20px 0 70px 0;
}

.title {
	font-size: 72pt;
	color: #054444;
	text-align: center;
	padding: 50px 0 80px 0;
}

.countdown {
	font-size: 42pt;
	color: #054444;
	text-align: center;
	padding: 20px 0 20px 0;
}

.redcnt {
	font-size: 42pt;
	color: red;
	font-weight: 700;
	text-align: center;
	padding: 20px 0 20px 0;
}

.label3 {
	font-size: 40pt;
	color: #054444;
	text-align: left;
	padding: 10px 40px 10px 0;
}

.spacer {
	margin: 20px 0 20px 0;
}

.pillnumber {
	font-size: 200pt;
	color: #054444;
	text-align: center;
	padding: 0;
	font-weight: 100;
}

table {
	border-collapse: collapse;
	font-size: 40pt;
	color: #054444;
	width: 100%;
	text-align: center;
	margin: 0;
}

td {
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0;
}

tr {
	background-color: #F7FFFF;
	margin: 0;
}

tr:nth-child(even) {
	background-color: #A1BABA;
}

.events {
	display: inline-block;
	float: left;
	text-align: center;
	text-decoration: none;
    padding: 14px 50px;
    font-size: 36pt;
	color: #F7FFFF;
	font-weight: 400;
	background-color: #054444;
	margin-top: 20px;
	margin-bottom: 20px;
}

input[type="text"] {
	width: 100%;
	font-size: 50pt;
	/*margin: 0 50px 0 50px;*/
	border: 4px solid #ccc;
	padding: 20px 0 20px 0;
	-webkit-border-top-left-radius: 30px;
	-webkit-border-top-right-radius: 30px;
	-moz-border-radius-topleft: 30px;
	-moz-border-radius-topright: 30px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}

input[type="password"] {
	width: 100%;
	font-size: 50pt;
	/*margin: 0 50px 0 50px;*/
	border: 4px solid #ccc;
	padding: 20px 0 20px 0;
	margin-top: -4px;
	-webkit-border-bottom-right-radius: 30px;
	-webkit-border-bottom-left-radius: 30px;
	-moz-border-radius-bottomright: 30px;
	-moz-border-radius-bottomleft: 30px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
}

input[type="submit"] {
	width: 100%;
	font-size: 50pt;
	/*margin: 0 50px 0 50px;*/
	border: 4px solid #ccc;
	border-radius: 15px;
	padding: 10px 0 10px 0;
	margin-top: 30px;
}

form {
	margin: 30px 0 30px 0;
	padding: 0 50px 0 50px;
}

.menu {
	z-index: 200;
	overflow-y: scroll;
	width: 60%;
	height: 100%;
	position: absolute;
	top: 0;
	left:0;
	background-color: #054444;
}

.menu-element {
	display: block;
	text-align: left;
	font-size: 52pt;
	color: #F7FFFF;
}