html {
	font-family: 'Roboto', sans-serif;
	background-color: #F7FFFF;
	font-weight: 300;
}

.label1 {
	font-size: 36pt;
	color: #054444;
	text-align: center;
	padding: 70pt 0 20pt 0;
}

.label2 {
	font-size: 30pt;
	color: #054444;
	text-align: center;
	margin-top: 100pt;
	padding: 20pt 0 70pt 0;
}

.pillnumber_tens {
	font-size: 56pt;
	color: #054444;
	display: inline-block;
	width: 34%;
	text-align: right;
	font-weight: 100;
	position: absolute;
	top: 150pt;
	padding-right: 1pt;
}

.pillnumber_units {
	font-size: 56pt;
	color: #054444;
	display: inline-block;
	width: 34%;
	text-align: left;
	position: absolute;
	font-weight: 100;
	top: 150pt;
	left: 35%;
	padding-left: 1pt;
}

.pillcount_section {
	width: 69%;
	display: inline-block;
}

.history_section {
	width: 29%;
	display: inline-block;
	position: absolute;
	left: 70%;
	top: 0;
	overflow: scroll;
	height: 100%;
}

.history_row {
	font-size: 16pt;
	text-align: center;
	color: #054444;
	padding: 4pt;
}

.history_time {
	text-align: left;
	display: inline-block;
	width: 49%;
}

.history_event {
	text-align: right;
	display: inline-block;
	width: 49%;
}

.history_title {
	font-size: 24pt;
	color: #054444;
	text-align: center;
	position: relative;
	top: 0;
	padding: 10pt 0 12pt 0;
}