<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Candy counter</title>
	<link rel="stylesheet" type="text/css" href="../static/style_desktop.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="static/script_desktop.js"></script>
</head>
<body>
	<div class="label1">Skittles</div>
	<div class="pillnumber_container">
		<div class="pillnumber_tens">1</div>
		<div class="pillnumber_units">2</div>
	</div>
	<div class="label2">Pieces of candy left.</div>
</body>
</html>