<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="static/style.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900' rel='stylesheet' type='text/css'>
	<meta charset="UTF-8">
	<title>Pilly index</title>
</head>
<body>
	<ul>
	<li><a href="/" class="navbar-left" id="active">Home</a></li>
		<li><a href="/about" class="navbar-left">About</a></li>
		<li><a href="/login" class="navbar-right">Login</a></li>
	</ul>
</body>
</html>